@font-face {
  font-family: "iconfont"; /* Project id 4868866 */
  src: url('~@/static/icon/iconfont.woff2?t=1745303028627') format('woff2'),
       url('~@/static/icon/iconfont.woff?t=1745303028627') format('woff'),
       url('~@/static/icon/iconfont.ttf?t=1745303028627') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuaxin:before {
  content: "\e628";
}

.icon-anquan:before {
  content: "\e708";
}

.icon-mima:before {
  content: "\e627";
}

.icon-yonghu:before {
  content: "\e62f";
}

.icon-weibiaoti545:before {
  content: "\e632";
}

.icon-addpicture:before {
  content: "\e60d";
}

.icon-fuhao-juzhongduiqi:before {
  content: "\e71d";
}

.icon-huishou:before {
  content: "\e608";
}

.icon-H-:before {
  content: "\e68d";
}

.icon-zitijiacu:before {
  content: "\e66f";
}

.icon-zuoduiqi:before {
  content: "\e6c3";
}

.icon-youduiqi:before {
  content: "\e6c4";
}

.icon-zhongzuo:before {
  content: "\e79d";
}

.icon-zitixiahuaxian:before {
  content: "\e62d";
}

.icon-zitixieti:before {
  content: "\e758";
}

.icon-waisuojin:before {
  content: "\e609";
}

.icon-neisuojin:before {
  content: "\e60a";
}

.icon-wendang-zuoyouduiqi:before {
  content: "\e64f";
}

.icon-dianzan:before {
  content: "\e602";
}

.icon-dianzan1:before {
  content: "\e644";
}

.icon-arrow-left:before {
  content: "\e645";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-sanjiaoleft:before {
  content: "\e6b6";
}

.icon-youjiantou:before {
  content: "\e631";
}

.icon-arrow-right:before {
  content: "\e624";
}

.icon-youjiantou1:before {
  content: "\e601";
}

.icon-youjiantou2:before {
  content: "\e62b";
}

.icon-qiehuan-xue:before {
  content: "\e622";
}

.icon-qiehuan:before {
  content: "\e623";
}

.icon-guanbi:before {
  content: "\e66e";
}

.icon-tishishuoming:before {
  content: "\e64d";
}

.icon-qiandaochenggong:before {
  content: "\e606";
}

.icon-qiandaochenggong1:before {
  content: "\e62e";
}

.icon-tishi:before {
  content: "\e713";
}

.icon-guanbi1:before {
  content: "\e621";
}

.icon-qiandaochenggong2:before {
  content: "\e600";
}

.icon-tishi1:before {
  content: "\e60b";
}

.icon-qiandaochenggong3:before {
  content: "\e742";
}

.icon-a-guanbiicon:before {
  content: "\e65b";
}

.icon-tuichu:before {
  content: "\e66a";
}

.icon-ego-heart:before {
  content: "\e607";
}

.icon-guanzhu:before {
  content: "\e66c";
}

.icon-tubiaozhizuomoban:before {
  content: "\e611";
}

.icon-pinglun:before {
  content: "\e648";
}

.icon-tongzhi:before {
  content: "\e64c";
}

.icon-qianming:before {
  content: "\e66d";
}

.icon-bianji:before {
  content: "\e9c8";
}

.icon-sousuo:before {
  content: "\e6a2";
}

